//META{"name":"html5wallpaper","description":"HTML5 BG","author":"aldroyd","version":"1.0"}*//

.chat,
.typing,
.content,
.channel,
.divider-red span,
.messages-wrapper,
.guild-channels,
.private-channels,
.title-wrap,
.guild-header header,
.guilds,
.search-bar,
.friends-table,
.flex-vertical {
	background-color: transparent !important;
}

.channel-members,
.channels-wrap {
	background-color: rgba(0,0,0,.15) !important;
}

.account,
.btn-group .btn {
	background-color: rgba(0,0,0,.25) !important;
}
.guilds-wrapper {
	background-color: rgba(0,0,0,.35) !important;
}

.app,
.theme-dark .layers,
.theme-dark .layer,
.guild-inner,
#friends {
	background-color: rgba(0, 0, 15, 0.50) !important;
}

#wp-content {
	height: 100vh;
	width: 100vw;
}

/* NOT ESSENTIALS */

.channel.channel-text.selected {
    background: transparent !important;
    border-bottom: 2px solid rgba(114, 137, 218, 1);
    margin-bottom: -2px !important;
}

.channel-text:hover {
    border-bottom: 2px solid rgba(114, 137, 218, .25);
    margin-bottom: -2px !important;
}

.channel.channel-text:before {
    border-left: 0px solid #fff !important;
}

.channel.channel-text:not(.selected) {
    background: transparent !important;
}

.channel-text.selected:before {
	border-left: 0px !important;
}

.messages-wrapper .scroller-wrap .scroller::-webkit-scrollbar {
    width: 4px;
}

.messages-wrapper .scroller-wrap .scroller::-webkit-scrollbar-track-piece {
	background-color: #23272A; /* SCROLL COLOR */
    border-radius: 0px !important;
    border: 1px;
}

.messages-wrapper .scroller-wrap .scroller::-webkit-scrollbar-thumb {
	border-radius: 0px !important;
    border: 1px;
    background-color: rgba(114, 137, 218, .75);
}

.theme-dark #friends .friends-header,
#friends .friends-header,
.theme-dark #friends .friends-table .friends-row:hover {
	background-color: transparent;
}

#friends .friends-table .friends-row:hover,
.private-channels .channel.selected,
.private-channels .channel:hover,
.theme-dark .channel-members .member:not(.disabled).popout-open, .theme-dark .channel-members .member:not(.disabled):hover,
.theme-dark .messages-popout-wrap {
	background: initial;
	background-color: rgba(0,0,0,.45) !important;
}

.theme-dark .messages-popout-wrap .header,
.theme-dark .messages-popout-wrap .messages-popout .message-group {
	background: initial;
	background-color: rgba(0,0,0, .85) !important;
}

.theme-dark .ui-standard-sidebar-view {
	background-color: rgba(0,0,0,0);
}
.theme-dark .ui-standard-sidebar-view .content-region {
	background-color: rgba(0,0,0,.25);
}

.theme-dark .ui-standard-sidebar-view .sidebar-region,
.container-RYiLUQ {
	background-color: initial;
}

.theme-dark .private-channel-call {
	background-color: rgba(0,0,0,.45) !important;
}

.contentSelectedText-3j5CXt {
	background-color: rgba(255, 255, 255, 0.1);
}
.wrapperHoveredText-1PA_Uk > div {
	background-color: rgba(255, 255, 255, 0.05);
}

.wrapper-2ldvyE {
	background-color: rgba(255,255,255,.025);
	font-family: inherit;
	font-weight: bold;
}

/* NEW UPDATE - TITLE BAR */

.appMount-14L89u {
	display: inline-block;
}

.platform-win {
	height: calc(100vh - 18px);
}

.container-2OU7Cz,
.theme-dark .chat form,
.theme-dark .title-qAcLxz,
.channels-3g2vYe,
.theme-dark .typing-3eiiL_,
.theme-dark .headerBar-cxbhPD,
.ui-video {
	background-color: transparent;
}

#cb {
	left: -9999px;
}

#nbb-button {
	background: transparent !important;
}

.private-channels .channel.selected a {
	background-color: rgba(255, 255, 255, .1);
}

.private-channels .channel:hover a {
	background-color: rgba(255, 255, 255, .25);
}

/* FIXES */
.theme-dark .layer-kosS71, .theme-dark .layers-20RVFW {
	background: rgba(0,0,0,.5) !important;
}

.scrollerWrap-2uBjct {
	background: rgba(0,0,0,.15) !important;
}

</style>
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script id="html5wallpaper">

	var msg = $('.channel-textarea-inner textarea');

	$('.platform-win').append('<wallpaper>');

	if (localStorage.nbbBackground) {
		restoreWallpaper(localStorage.nbbBackground['type'], localStorage.nbbBackground['url']);
	} else {
		var wallpaper = '//html5wallpaper.com/wp-depo/346/';
		localStorage.nbbBackground = wallpaper;
		$('wallpaper').append(`
			<iframe id="wp-content" scrolling="no" src="${wallpaper}"> /* NOTE THE "HTTPS" PROTOCOL */
		`);
	}

	$('body').append('<textarea id="cb" style="position: fixed; left: -99999;width: 1px; height: 1px">');

	$('.guild').click(function () {
		/* I LIKE SUSHI */
		nbbChangeMode(1);
	});

	function changeWallpaper(n) {
		setTimeout(function () {
			switch ($('#nbb-button').data('mode')) {
				case 1:
					$('#cb').select();
					document.execCommand("paste");
					clipboard = $('#cb').val();
					newBg = $('#wp-content').css('background', '').attr('src', clipboard.split(":").pop());
					nbbSave($('#nbb-button').data('mode'), clipboard.split(":").pop());
					break;
				case 2:
					$('#cb').select();
					document.execCommand("paste");
					clipboard = $('#cb').val();
					ytId = clipboard.split("v=").pop();
					newBg = $('#wp-content').css('background', '').attr('src', `//www.youtube.com/embed/${ytId}?autoplay=1&loop=1&playlist=${ytId}`);
					nbbSave($('#nbb-button').data('mode'), `//www.youtube.com/embed/${ytId}?autoplay=1&loop=1&playlist=${ytId}`);
					break;
				case 3:
					$('#cb').select();
					document.execCommand("paste");
					clipboard = $('#cb').val();
					newBg = $('#wp-content').attr('src', '').css({
						'background-image': `url('${clipboard.split(":").pop()}')`,
						'background-size': 'cover',
						'background-repeat': 'no-repeat',
						'background-position': 'center'
					});
					nbbSave($('#nbb-button').data('mode'), clipboard.split(":").pop());
			}
		}, n);
	}

	function restoreWallpaper(n, url) {
		switch (n) {
			case 1:
				$('wallpaper').append(`
					<iframe id="wp-content" scrolling="no" src="${url}">
				`);
				break;
			case 2:
				$('wallpaper').append(`
					<iframe id="wp-content" scrolling="no" src="${url}">
				`);
				break;
			case 3:
				$('wallpaper').append(`
					<iframe id="wp-content" scrolling="no" style="background-image: url('${url}'); background-size: cover; background-repeat: no-repeat; background-position: center;">
				`);
		}
	}

	var nbbMode = 1;

	$('svg[name="NotificationBell"]').parent().prepend(`<button id="nbb-button" data-mode="1" type="button" onclick="changeWallpaper(0)" oncontextmenu="nbbClickMode()"><span style="color: white;font-weight:bold; line-height: 2.35">NBB</span></button>`);

	function nbbClickMode() {
		nbbMode = $('#nbb-button').data('mode')+1;
		if (nbbMode <= 3) {
			nbbChangeMode(nbbMode);
		}
		else {
			nbbMode = 1;
			nbbChangeMode(1);
		}
	};

	function nbbChangeMode(nbbMode) {
		switch (nbbMode) {
			case 1:
				$('#nbb-button').remove();
				$('svg[name="NotificationBell"]').parent().prepend(`<button id="nbb-button" data-mode="1" type="button" onclick="changeWallpaper(0)" oncontextmenu="nbbClickMode()"><span style="color: white;font-weight:bold; line-height: 2.35">NBB</span></button>`);
				break;
			case 2:
				$('#nbb-button').remove();
				$('svg[name="NotificationBell"]').parent().prepend(`<button id="nbb-button" data-mode="2" type="button" onclick="changeWallpaper(0)" oncontextmenu="nbbClickMode()"><span style="color: firebrick;font-weight:bold; line-height: 2.3;"><i class="fa fa-youtube-play fa-lg"></i></span></button>`);
				break;
			case 3:
				$('#nbb-button').remove();
				$('svg[name="NotificationBell"]').parent().prepend(`<button id="nbb-button" data-mode="3" type="button" onclick="changeWallpaper(0)" oncontextmenu="nbbClickMode()"><i style="color: #f1c40f;font-weight:bold; line-height: 1.9;" class="fa fa-image fa-lg"></i></button>`);
		}
	}

	function nbbSave(i, url) {
		localStorage.nbbBackground = {
			type: i,
			url: url
		};
	}

</script>
